# Compiled class file
*.class

.classpath
.factorypath
.settings
.vscode
.project
.DS_Store
._DS_Store

test/app/.classpath
test/app/.factorypath
test/app/.settings
test/app/.vscode
test/app/.project
